/************* IMPOSTAZIONI GENERALI *************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*=col-] {
    padding: 0.2rem;
}

.box {
    background-color: red;
    border: 2px solid black;
    text-align: center;
}

.bg-green {
    background-color: green;
}

